@import './tailwind.css';

body,
html {
  min-height: 100vh;
}

body,
html,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  @apply bg-gray-bg;
}

.button {
  @apply cursor-pointer bg-gray-bg block rounded-lg p-4 text-center
         uppercase leading-none font-bold border-2 border-gray-bg
         text-sm text-gray-700 transition
         hover:border-accent focus:border-accent
         focus:outline-none focus:shadow-none;
}

.input-group:focus-within label {
  @apply text-gray-700;
}

.input-group label {
  @apply text-xs font-bold uppercase text-gray-500 mb-3 transition;
}

.input-group input {
  @apply border-2 border-gray-bg focus:border-accent focus:outline-none rounded-lg p-3 w-full;
}

input:focus,
select:focus {
  box-shadow: none !important;
}

.input-group .error {
  @apply text-red-700 text-sm mt-2;
}
